<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{#if title}}{{title}} | {{/if}}3D Gallery</title>
<link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/index.css">
